apiVersion: apps/v1
kind: Deployment
metadata:
  name: calendar-deployment
  labels:
    app: calendar
spec:
  replicas: 2
  selector:
    matchLabels:
      app: calendar
  template:
    metadata:
      labels:
        app: calendar
    spec:
      containers:
      - name: calendar
        image: public.ecr.aws/o9v8l7j1/calender-2026:latest
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: calendar-service
spec:
  type: NodePort
  selector:
    app: calendar
  ports:
  - port: 80
    targetPort: 3000
    nodePort: 30080

